@use '../../../styles/utils/colors.scss' as *;

.taskitem {
  background-color: darken($black, 4%);
  padding: 1.6rem;
  border-radius: .8rem;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1.6rem;
  align-items: center;

  & > .check {
    display: grid;
    place-content: center;
    user-select: none;
    cursor: pointer;

    & > svg {
      color: $primary;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  & > .task {
    word-break: break-all;
  }

  & > .archive {
    display: grid;
    place-content: center;
    user-select: none;
    cursor: pointer;

    & > svg {
      color: $primary;
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

.completed {
  opacity: .4;
  position: relative;

  &::after {
    content: '';
    height: 1px;
    width: 110%;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
